//header
.header
	position: absolute
	top: 0
	left: 0
	right: 0
	min-width: 320px
	padding: 20px 0
	+transition(background 0.1s)
	.sign

		margin-left: 15px
	+r(900)
		padding: 15px 0
		text-align: center
	+r(600)
		padding: 15px 0


.logo
	position: relative
	display: block
	width: 281px
	height: 51px
	float: left
	+hide-text
	&:before,
	&:after
		content: ""
		width: 100%
		height: 100%
		background-repeat: no-repeat
		-webkit-background-size: contain
		-o-background-size: contain
		background-size: contain
	&:before
		display: none
		background-image: url(../img/svg/logo-color.svg)
	&:after
		display: block
		background-image: url(../img/svg/logo.svg)
	&.is-small
		float: none
		width: auto
		height: auto
		margin-bottom: 20px
		&:before,
		&:after
			display: none
		a
			display: inline-block
			+svg(logo-small, 30, 30)
	&.is-white
		&:before
			display: none
		&:after
			display: block
	+r(900)
		max-width: 200px
	+r(600)
		float: left
		display: block


.nav
	position: relative
	float: right
	font-size: 0
	+lato-l
	+clr
	.fa-times
		display: none
		font-size: 18px
		color: #FFF
	.logo
		display: none
		float: none
		margin: 120px auto 10px
	+r(900)
		.logo
			&:before
				display: none
			&:after
				display: block
	+r(800)
		float: none
		position: fixed
		padding: 15px 0
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: 0
		background-color: #5c6173
		visibility: hidden
		z-index: 11
		+opacity(0)
		+transition(all 0.2s ease)
		&.is-active
			visibility: visible
			+opacity(1)
		.fa-times
			display: block
		.logo
			display: block

.menu
	display: inline-block
	font-size: 18px
	vertical-align: middle
	+clr
	&__list
		float: left
		&.is-active
			a
				&:before
					display: block
		a
			position: relative
			padding: 10px 15px
			color: #fff
			&:before
				display: none
				content: ""
				position: absolute
				bottom: 2px
				left: 50%
				width: 0
				height: 0
				border: 2px solid #fff
				margin-left: -2px
				border-radius: 50%
			&:hover
				text-decoration: underline
	+r(900)
		&__list a
			padding: 10px
	+r(800)
		display: block
		&__list
			display: block
			float: none
			margin: 10px 0
			a
				display: block
				color: #fff
				padding: 5px 0
				&:hover
					text-decoration: none
			&.is-active
				+lato-b
				a
					text-decoration: none
					&:before
						display: none


.btn-menu
	display: none
	float: left
	width: 35px
	height: 35px
	margin-top: 5px
	background: none
	font-size: 0
	+tr(background .2s)
	.fa
		font-size: 12px
		color: #fff
	+r(800)
		display: block


.sign
	display: inline-block
	padding: 12px 20px 9px
	font-size: 18px
	color: #4E4E4E
	border: 1px solid #4E4E4E
	vertical-align: middle
	border-radius: 3px
	line-height: 1
	+sans
	+tr(0.2s)
	&.is-red
		padding: 10px 15px
		font-size: 18px
		background: none
		color: #eb4e50
		border: 2px solid #eb4e50
		+lato
		&:hover
			background: none
			color: darken(#EB4E50, 10%)
			border-color: darken(#EB4E50, 10%)
			.sign_ico
				color: #eb4e50
		.sign_ico
			color: #eb4e50
	&.is-white-red
		padding: 10px 15px
		color: #eb4e50
		background: #fff
		border-color: #fff
		border-radius: 0
		+lato-l
		&:hover
			background: #fff
			color: #eb4e50
			border-color: #fff
			.sign_ico
				color: #eb4e50
		.sign_ico
			color: #eb4e50
	&.is-white-blue
		padding: 10px 15px
		font-size: 18px
		background: #fff
		color: #5c6173
		border-color: #fff
		border-radius: 0
		+lato-l
		&:hover
			background: #fff
			color: #5c6173
			border-color: transparent
			.sign_ico
				color: #5c6173
		.sign_ico
			color: #5c6173
	&:hover
		background: #5C6173
		border-color: #5C6173
		color: #fff
		.sign_ico
			color: #fff
			+transform(translateX(5px))
	&_ico
		display: inline-block
		margin-left: 5px
		font-size: 13px
		color: #4E4E4E
		vertical-align: 1px
		+transition(transform 0.2s ease)
